<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinke.project.system.fileLabel.mapper.FileLabelMapper">

    <resultMap type="FileLabel" id="FileLabelResult">
        <result property="id" column="id"/>
        <result property="userBusinessId" column="user_business_id"/>
        <result property="fileBusinessId" column="file_business_id"/>
        <result property="name" column="name"/>
        <result property="delFlag" column="del_flag"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectFileLabelVo">
        select id, user_business_id, file_business_id, name, del_flag, status, create_time, update_time from sys_file_label
    </sql>

    <select id="selectFileLabelList" parameterType="FileLabel" resultMap="FileLabelResult">
        <include refid="selectFileLabelVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="userBusinessId != null  and userBusinessId != '' ">and user_business_id = #{userBusinessId}</if>
            <if test="fileBusinessId != null  and fileBusinessId != '' ">and file_business_id = #{fileBusinessId}</if>
            <if test="name != null  and name != '' ">and name = #{name}</if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}</if>
            <if test="status != null  and status != '' ">and status = #{status}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>

        </where>
    </select>

    <select id="selectFileLabelById" parameterType="Integer" resultMap="FileLabelResult">
        <include refid="selectFileLabelVo"/>
        where id = #{id}
    </select>

    <insert id="insertFileLabel" parameterType="FileLabel" useGeneratedKeys="true" keyProperty="id">
        insert into sys_file_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userBusinessId != null  and userBusinessId != ''  ">user_business_id,</if>
            <if test="fileBusinessId != null  and fileBusinessId != ''  ">file_business_id,</if>
            <if test="name != null  and name != ''  ">name,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateTime != null  ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userBusinessId != null  and userBusinessId != ''  ">#{userBusinessId},</if>
            <if test="fileBusinessId != null  and fileBusinessId != ''  ">#{fileBusinessId},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFileLabel" parameterType="FileLabel">
        update sys_file_label
        <trim prefix="SET" suffixOverrides=",">
            <if test="userBusinessId != null  and userBusinessId != ''  ">user_business_id = #{userBusinessId},</if>
            <if test="fileBusinessId != null  and fileBusinessId != ''  ">file_business_id = #{fileBusinessId},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFileLabelById" parameterType="Integer">
        delete from sys_file_label where id = #{id}
    </delete>

    <delete id="deleteFileLabelByIds" parameterType="String">
        delete from sys_file_label where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>