<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinke.project.system.ocr.mapper.OcrMapper">

    <resultMap type="Ocr" id="OcrResult">
        <result property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="userBusinessId" column="user_business_id"/>
        <result property="fileBillId" column="file_bill_id"/>
        <result property="businessType" column="business_type"/>
        <result property="dataSource" column="data_source"/>
        <result property="result" column="result"/>
        <result property="delFlag" column="del_flag"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectOcrVo">
        select id, business_id, user_business_id, file_bill_id, business_type, data_source, result, del_flag, status, create_time, update_time from sys_ocr
    </sql>

    <select id="selectOcrList" parameterType="Ocr" resultMap="OcrResult">
        <include refid="selectOcrVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="businessId != null  and businessId != '' ">and business_id = #{businessId}</if>
            <if test="userBusinessId != null  and userBusinessId != '' ">and user_business_id = #{userBusinessId}</if>
            <if test="fileBillId != null  and fileBillId != '' ">and file_bill_id = #{fileBillId}</if>
            <if test="businessType != null  and businessType != '' ">and business_type = #{businessType}</if>
            <if test="dataSource != null  and dataSource != '' ">and data_source = #{dataSource}</if>
            <if test="result != null  and result != '' ">and result = #{result}</if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}</if>
            <if test="status != null  and status != '' ">and status = #{status}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="selectOcrById" parameterType="Integer" resultMap="OcrResult">
        <include refid="selectOcrVo"/>
        where id = #{id}
    </select>

    <insert id="insertOcr" parameterType="Ocr" useGeneratedKeys="true" keyProperty="id">
        insert into sys_ocr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessId != null  and businessId != ''  ">business_id,</if>
            <if test="userBusinessId != null  and userBusinessId != ''  ">user_business_id,</if>
            <if test="fileBillId != null  and fileBillId != ''  ">file_bill_id,</if>
            <if test="businessType != null  and businessType != ''  ">business_type,</if>
            <if test="dataSource != null  and dataSource != ''  ">data_source,</if>
            <if test="result != null  and result != ''  ">result,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateTime != null  ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessId != null  and businessId != ''  ">#{businessId},</if>
            <if test="userBusinessId != null  and userBusinessId != ''  ">#{userBusinessId},</if>
            <if test="fileBillId != null  and fileBillId != ''  ">#{fileBillId},</if>
            <if test="businessType != null  and businessType != ''  ">#{businessType},</if>
            <if test="dataSource != null  and dataSource != ''  ">#{dataSource},</if>
            <if test="result != null  and result != ''  ">#{result},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOcr" parameterType="Ocr">
        update sys_ocr
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessId != null  and businessId != ''  ">business_id = #{businessId},</if>
            <if test="userBusinessId != null  and userBusinessId != ''  ">user_business_id = #{userBusinessId},</if>
            <if test="fileBillId != null  and fileBillId != ''  ">file_bill_id = #{fileBillId},</if>
            <if test="businessType != null  and businessType != ''  ">business_type = #{businessType},</if>
            <if test="dataSource != null  and dataSource != ''  ">data_source = #{dataSource},</if>
            <if test="result != null  and result != ''  ">result = #{result},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOcrById" parameterType="Integer">
        delete from sys_ocr where id = #{id}
    </delete>

    <delete id="deleteOcrByIds" parameterType="String">
        delete from sys_ocr where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>